@import "../.././assets/style/variables";
@import "../.././assets/style/colors";
@import "../.././assets/style/functions";

.empty-cart{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .empty-cart-img{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    img{
      height: 120px;
    }
  }
  .empty-text{
    padding-bottom: 10px;
  }
  .empty-cart-text{
    color: $grey-11;
  }
  .go-to-store-btn{
    text-transform: uppercase;
    border-radius: 0px;
    padding: 15px 50px;
    margin-top: 50px;
    color: $white;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}