@import "../.././assets/style/variables";
@import "../.././assets/style/colors";
@import "../.././assets/style/functions";

.modal-open .modal{
  @media screen and (max-width: $break-mobile) {
    position: absolute;
  }
  .modal-main{
    @media screen and (min-width: $break-mobile) {
      max-width: 700px !important;
    }
    .modal-content{
     // background: url("../../assets/images/form-background.jpg") no-repeat fixed center;
     background-color: $white;
      border: none !important;
      border-radius: 0em !important;
      background-size: cover;
      padding: 20px 50px;
      @media screen and (max-width: $break-mobile) {
        padding: 15px 15px;
      }
      .borderrem{
        &.modal-header {
          border-bottom: none;
          padding: 0px 0px 10px;
          .close{
            outline: none;
            color:$black;
          }
        }
      }
      .modal-body-content{
        padding: 0px;
        .disclaimer-logo{
          display: block;
          text-align: center;
          margin-bottom: 15px;
          img{
            width: 100px;
            @media screen and (max-width: $break-mobile) {
              width: 70px;
            }
          }
        }
        .disclaimer-text{
          color: $green-2;
          text-align: center;
          font-size: size(48);
          font-weight: 600;
          text-transform:uppercase;
          font-family: 'bebas neue';
          text-align: center;
          @media screen and (max-width: $break-mobile) {
            font-size: size(32);
          }
        }
        .disclaimer-desctext{
          color: $black;
          text-align: center;
        }
        .disclaimer-agreebtn{
          text-align: center;
          button{
            font-weight: 600;
            text-transform: uppercase;
            &:disabled {
              opacity: 1 !important;
              cursor: not-allowed;
            }
          }
        }
        .form-check-label{
          color: $white;
        }
        .checkbox-style {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: size(22);
          color: $black;
          font-family: 'bebas neue';
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input {
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            /* Show the checkmark when checked */
            &:checked ~ .checkmark:after {
              display: block;
            }
          }
          /* Create a custom checkbox */
          .checkbox-text{
            display: inline-block;
            margin-left: 15px;
          }
          .checkmark {
            height: size(22);
            width: size(22);
            background-color: $white;
            border: 1px solid $black;
            /* Create the checkmark/indicator (hidden when not checked) */
            &:after {
              content: "";
              display: none;
              width: size(6);
              height: size(11);
              border: solid $black;
              border-width: 0 size(3) size(3) 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
              margin-top: size(3);
              margin-left: size(7);
            }
          }
        }
      }
    }
  } 
}

