@import "../.././assets/style/variables";
@import "../.././assets/style/colors";
@import "../.././assets/style/functions";
.warranty-activation-main {
  background-color: $black;

  background: url("../../assets/images/reset-password-bg-white.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .align-left {
    text-align: left;
  }
  .invalid-login {
    color: rgb(255, 57, 57);
  }
  .flex-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    input[type="checkbox"] {
      margin: 5px 8px;
    }
  }
  .warranty-activation-container {
    background-color: $white;
    font-family: $font-family-proxima;
    width: 60%;
    background-size: cover;
    padding: 50px 110px;
    margin: 75px 0;
    @media screen and (max-width: $break-mobile) {
      width: 300px;
      padding: 50px 30px;
    }
    .invalid-feedback {
      color: #fff !important;
    }
    .toast-content {
      color: #fff;
    }
    .error-message {
      background-color: red !important;
      text-transform: uppercase;
    }
    .text-email {
      h2 {
        color: $green-1;
        margin-bottom: 20px;
      }
    }
    .form-detail {
      .form-input-text {
        border-color: $black;
        color: $black;
      }
      .reset-input-text {
        background-color: $green-13;
        border: 1px solid;
        &:focus {
          box-shadow: none;
          border-bottom-width: 2px;
          background-color: unset;
          border-color: $black;
          color: $black;
        }
      }
      .button-align {
        margin: 20px 0;
        .reset-btn {
          background-color: transparent;
          width: 200px;
        }
      }
      form {
        ::placeholder {
          color: $black;
          opacity: 0.5;
          font-family: $font-family-bebas;
          letter-spacing: 1px;
        }
        .checkmark {
          margin: 0 7px;
          .checkbox-text,
          .radio-text,
          .gender-text,
          .age-text {
            margin-left: 5px;
          }
        }
        .checkbox-style,
        .radio-style,
        .gender-style,
        .age-style,
        .drop-style {
          display: flex;
          // align-items: center;
          // justify-content: center;
          position: relative;
          // margin-bottom: 12px;
          cursor: pointer;
          font-size: size(22);
          color: $black-2;
          font-family: "bebas neue";
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input {
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            /* Show the checkmark when checked */
            // &:checked ~ .checkmark:after {
            //   display: block;
            // }
          }
        }
      }
    }
  }
}
