$white: #ffffff;
$white-1: #f8f9fa;
$white-2: #f1f1f1;
$white-3: #d8d8d8;
$white-4: #f5f5f5;
$grey-1: #636262;
$grey-2: #4e4e4e;
$grey-3: #616161;
$grey-4: #706f6f;
$grey-5: #514f4e;
$grey-6: #484646;
$grey-7: #707070;
$grey-8: #939292;
$grey-9: #959595;
$grey-10: #818181;
$grey-11: #8e8e8e;
$grey-12: #ffffffbd;
$grey-13: #d6cdca;
$green-13: #1b1b22;
$green-1: #5aa03d;
$green-2: #50b12c;
$green-3: #36741d;
$green-4: #285916;
$green-5: #50b120;
$black: #000000;
$black-1: #111116;
$black-2: #0a0a0c;
$black-3: #131319;
$red: red;

$main-text-color: $black;
$sub-text-color: $grey-1;
$highlight-text-color: $green-2;
$description-text-color: $black;
$circle-background: $grey-2;
$active-circle-background: $white;
$border-color: $grey-3;
$menu-index-color: $green-2;
$main-background-color: $white;
$sub-background-color: $black-1;

$primary: $green-2;
$dark: $black;
