$break-imac: 5100px;
$break-4k: 3840px;
$break-2500: 2500px;
$break-1920: 1920px;
$break-1600: 1600px;
$break-1366: 1366px;
$break-1280: 1280px;
$break-desktop: 1240px;
$break-1024: 1024px;
$break-1048: 1048px;
$break-laptop: 992px;
$break-ipad-mini: 991px;
$break-tablet: 768px;
$break-md-tablet: 776px;
$break-mobile: 767px;
$break-sm: 576px;
$break-iphone: 480px;
$break-mobile-screen: 400px;
$break-small-device: 360px;
$font-family-proxima-semibold: "Proxima Nova Semibold";
$font-family-proxima: "Proxima Nova Rg";
$font-family-proxima-thin: "Proxima Nova Thin";
$font-family-proxima-medium: "Proxima Nova Medium";
$font-family-bebas: "Bebas Neue";
$font-family-bebasrg: "Bebas Neue Rg";
$basic-size: 16;
$screen-input-box: 80px;
$basic-size: 16;
$basic-size-4k: 8;
// bootstrap variables override
$input-bg: unset;
$input-focus-color: #fff;
$input-focus-bg: unset;
$input-focus-border-color: #fff;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$btn-font-family: $font-family-bebas;
$btn-font-size: size(20);
