@import "../.././assets/style/variables";
@import "../.././assets/style/colors";
@import "../.././assets/style/functions";

.main-wrapper {
  // background-color: $black; // overriding address css
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  .signup-container-wrapper {
    margin-top: 87px;
    width: 100%;
    padding-right: 17px;
    overflow-y: scroll;
    box-sizing: unset;
    .col-md-6 {
      padding: 0;
      .form-wrapper {
        padding: 60px 100px 30px 100px;
        @media screen and (max-width: $break-1024) {
          padding: 60px 60px 30px 60px;
        }
        .toast-content {
          padding: 0.75rem;
          background-color: #000000;
        }
        .form-heading {
          color: $white;
          font-family: $font-family-proxima;
          h1 {
            font-size: size(64);
            span {
              font-size: size(40);
              a {
                color: $grey-13;
                font-size: size(40);
              }
            }
          }
          font-size: size(64);
        }
        .form-detail {
          margin-top: 25px;
          form {
            .form-group {
              margin-bottom: 1rem;
              &.password-wrapper {
                margin: 0;
              }
              &.forgot-link {
                float: right;
              }
              .form-label {
                font-weight: 600;
                letter-spacing: 1.3px;
              }
              ::placeholder {
                color: $white;
                opacity: 1; /* Firefox */
                // font-family: $font-family-proxima;
                letter-spacing: 1.3px;
              }
              .form-terms-conditions {
                input[type="checkbox"] {
                  width: 30px;
                  height: 30px;
                  @media screen and (max-width: $break-1024) {
                    width: 20px;
                    height: 20px;
                  }
                  &:checked {
                    background-color: $red;
                    // background: url("../../assets/images/Header.png");
                  }
                }
                .form-check-label {
                  margin-left: 30px;
                  margin-top: 7px;
                  @media screen and (max-width: $break-1024) {
                    margin-left: 10px;
                    margin-top: 3px;
                  }
                }
              }
              .form-label {
                margin-top: 7px;
                @media screen and (max-width: $break-1024) {
                  margin-top: 3px;
                }
                a {
                  font-family: $font-family-proxima;
                  font-size: size(15);
                  color: $white;
                  text-underline-position: under;
                  text-decoration: underline;
                  &.password-forget {
                    font-family: $font-family-proxima;
                    font-size: size(15);
                    color: $white;
                    text-underline-position: unset;
                    text-decoration: unset;
                  }
                }
              }
            }
            .signup-button {
              text-align: center;
              clear: both;
            }
            .forgot-link {
              font-family: $font-family-proxima;
              font-size: size(15);
              color: $white;
            }
            .invalid-login {
              color: $black !important;
            }
          }
        }
        .form-checkbox {
          flex-wrap: wrap;
        }
      }
    }
    .signup-video {
      position: relative;
      height: 100%;
      video {
        &:focus {
          outline: none;
        }
      }
      @media screen and (max-width: $break-mobile) {
        display: none;
      }
      .overlay-image {
        position: absolute;
        display: flex;
        align-items: center;
        width: 300px;
        height: 300px;
        left: 10%;
        bottom: 5%;
      }
    }
  }
}
