@import "../.././assets/style/variables";
@import "../.././assets/style/colors";
@import "../.././assets/style/functions";
.forgot-password-main {
  background-color: $black;
  background: url("../../assets/images/reset-password-bg-white.png") no-repeat center;
  background-size: cover;
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  .forgot-password-container {
    background-color: $white;
    font-family: $font-family-proxima;
    width: 600px;
    text-align: center;
    // background: url("../../assets/images/reset-black-bg.png") no-repeat center;
    background-size: cover;
    padding: 50px 110px;
    @media screen and (max-width: $break-mobile) {
      width: 300px;
      padding: 50px 30px;
    }
    .invalid-feedback {
      color: #fff !important;
    }
    .toast-content {
      color: #fff;
    }
    .error-message {
      background-color: red !important;
      text-transform: uppercase;
    }
    .text-email {
      h2 {
        color: $green-1;
        margin-bottom: 20px;
      }
    }
    .form-detail {
      .form-input-text {
        border-color: $black;
        color: $black;
      }
      .reset-input-text {
        background-color: $green-13;
        border: 1px solid;
        &:focus {
          box-shadow: none;
          border-bottom-width: 2px;
          background-color: unset;
          border-color: $black;
          color: $black;
        }
      }
      .button-align {
        margin-top: 40px;
        .reset-btn {
          background-color: transparent;
          width: 200px;
        }
      }
      form {
        ::placeholder {
          color: $black;
          opacity: 0.5;
          font-family: $font-family-bebas;
          letter-spacing: 1px;
        }
      }
    }
  }
}
