@import "../.././assets/style/variables";
@import "../.././assets/style/colors";
@import "../.././assets/style/functions";

.notifyme-form input.form-control {
  color: #000000;
  &:focus {
    color: #000000;
  }
}
.modal-dialog {
  .modal-content {
    padding: 20px;
    h2 {
      color: $highlight-text-color;
      font-size: size(26);
      margin-bottom: 0px;
      width: 100%;
    }
    .modal-body {
      padding: 0px;
    }
    .closeborderrem.modal-header {
      padding: 0px;
    }
  }
}
.Notifyme-popup-section {
  text-align: center;
  .form-input-text {
    border-color: $black;
    &:focus,
    &:hover {
      border-color: unset;
    }
  }
  .button-align {
    margin-bottom: 0px;
  }
}
.product-detailsbtn {
  .product-deatils,
  .notify-me.btn-dark {
    min-width: 120px;
    padding: 0.5rem 1rem;
    margin-right: 10px;
  }
}
